<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ This file is part of Moodi application.
  ~
  ~ Moodi application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Moodi application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Moodi application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration debug="true" scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>utf-8</charset>
            <Pattern>[%p] %c - %m%n</Pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <include resource="logback-rolling-file-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
        <logger name="fi.helsinki.moodi" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="logback-rolling-file-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="fi.helsinki.moodi" level="DEBUG"/>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="fi.helsinki.moodi" level="DEBUG"/>
        <logger name="fi.helsinki.moodi.test" level="TRACE"/>
    </springProfile>

    <springProfile name="local, test">
        <logger name="SUMMARY_LOGGER" level="INFO">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="dev, prod">
        <include resource="logback-rolling-summary-file-appender.xml"/>
        <logger name="SUMMARY_LOGGER" level="INFO" additivity="false">
            <appender-ref ref="SUMMARY_FILE_LOGGER"/>
        </logger>
    </springProfile>
</configuration>
