<!--
  ~ This file is part of Moodi application.
  ~
  ~ Moodi application is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Moodi application is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Moodi application.  If not, see <http://www.gnu.org/licenses/>.
  -->

<included>
    <property name="SUMMARY_LOG_DIR" value="/tmp/log/moodi-import-sync-log"/>

    <appender name="SUMMARY_FILE_LOGGER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SUMMARY_LOG_DIR}/moodi.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${SUMMARY_LOG_DIR}/moodi.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>
</included>